* {
    margin: 0%;
    padding: 0%;
}

nav {
    padding: 2rem;
    background-color: rgb(238, 237, 237);
    display: flex;
}

a {
    margin: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.right {
    margin-left: auto;
    background-color: rgb(171, 183, 171);
    border-radius: 30%;
}